{{define "index"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>

<body>

    <h1>Ini adalah halaman Register</h1>
    <form action="/save" method="post">
        <input type="text" placeholder="nama" name="nama" autocomplete=off>
        <input type="text" placeholder="username" name="username" autocomplete=off>
        <input type="password" placeholder="masukkan password anda" name="password" autocomplete=off>
        <button type="submit">Save</button>
    </form>










</body>

</html>
{{end}}